{%comment %}This snippet is generated and updated by Bold Memberships. any changes will be overridden when the Store Owner saves a Plan in the app.{%endcomment%}

{% assign bold_memberships_salt = '96ea5a9cd6bfc904d1a0a4cea19ca5573a6e859f879548f806e04fe778820949d1b515c76a402f51aa741c72d893be5fb263d7cb785d85558271a0507f43dd2c' %}
{% assign bold_memberships_hash = customer.id | append: bold_memberships_salt | md5 %}
