{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": true,
  "hasShippingEstimator": false
}
{%- endcapture -%}

<div id="sidebar-cart" class="Drawer Drawer--fromRight" aria-hidden="true" data-section-id="cart" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  <div class="Drawer__Header Drawer__Header--bordered Drawer__Container">
      <span class="Drawer__Title Heading u-h4">{{ 'cart.general.title' | t }}</span>

      <button class="Drawer__Close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="sidebar-cart" aria-label="{{ 'header.navigation.close_cart' | t }}">
        {%- render 'icon' with 'close' -%}
      </button>
  </div>

  <form id="drawer-form" class="Cart Drawer__Content" action="{{ routes.cart_url }}" method="POST" novalidate>
    <div class="Drawer__Main" data-scrollable>
      {%- if settings.cart_show_free_shipping_threshold -%}
        {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}

        <div class="Cart__ShippingNotice Text--subdued">
          <div class="Drawer__Container">
            {%- if cart.total_price >= threshold_in_cents -%}
              <p>{{- 'cart.general.free_shipping' | t -}}</p>
            {%- else -%}
              {%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money_without_trailing_zeros }}</span>{%- endcapture -%}
              <p>{{- 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount -}}</p>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}

      {%- if cart.item_count == 0 -%}
        <p class="Cart__Empty Heading u-h5">{{ 'cart.general.empty' | t }}</p>
      {%- else -%}
        <div class="Drawer__Container">
          <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
          <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

          {% render 'cart-items' %}
        </div>
      {%- endif -%}
      
      
      
      
      
      {%- if settings.upsell_product != blank -%}
      {%- assign upsellProd = all_products[settings.upsell_product] -%}
      
      {%- assign lineUpSellID = '' -%}
      {%- for line_item in cart.items -%}
      
      {%- if line_item.product_id == upsellProd.id -%} 
      {%- assign lineUpSellID = line_item.id -%}
      {% break %}
      {% endif -%}
      {%- endfor -%}
      
      
      <div class="divid">YOU MIGHT ALSO LIKE</div>
      <div class="cart-upsell">
        <div class="cst-add-btn">
<!--            <input type="checkbox" id="upsel-check" class="upsell-check" onClick="toggleUpsellItem(this,{{upsellProd02.first_available_variant.id}},{{lineUpSellID02}})" {%- if lineUpSellID02 != blank -%} checked {% endif -%}> -->
            {%- if lineUpSellID != blank -%}  
             <label for="upsel-check" class="upsell-label" data-remove="true" onClick="toggleUpsellItem(this,{{upsellProd.first_available_variant.id}},{{lineUpSellID}})">Remove</label>
            {%- else -%}
             <label for="upsel-check" class="upsell-label" data-add="true" onClick="toggleUpsellItem(this,{{upsellProd.first_available_variant.id}},{{lineUpSellID}})">Add</label>         
            {% endif -%}
          </div>
<!--         <div class="upsell-label">
          <input type="checkbox" id="upsel-check" class="upsell-check" onClick="toggleUpsellItem(this,{{upsellProd.first_available_variant.id}},{{lineUpSellID}})" {%- if lineUpSellID != blank -%} checked {% endif -%}>
          {%- if lineUpSellID != blank -%}  
           <label for="upsel-check" class="upsell-label">{{settings.upsell_rmtext}}</label>
          {%- else -%}
           <label for="upsel-check" class="upsell-label">{{settings.upsell_text}}</label>         
          {% endif -%}
          
        </div> -->
        <div class="upsell-product">        
        {% render 'upsell-item', upsellProd: upsellProd, lineUpSellID: lineUpSellID %}
          
          
          
        </div>
      </div>
      {%- endif -%}
      
      {%- if settings.upsell_product_02 != blank -%}
      {%- assign upsellProd02 = all_products[settings.upsell_product_02] -%}
      
      {%- assign lineUpSellID02 = '' -%}
      {%- for line_item in cart.items -%}
      
      {%- if line_item.product_id == upsellProd02.id -%} 
      {%- assign lineUpSellID02 = line_item.id -%}
      {% break %}
      {% endif -%}
      {%- endfor -%}
      
      
      
      <div class="cart-upsell">
        <div class="cst-add-btn">
<!--            <input type="checkbox" id="upsel-check" class="upsell-check" onClick="toggleUpsellItem(this,{{upsellProd02.first_available_variant.id}},{{lineUpSellID02}})" {%- if lineUpSellID02 != blank -%} checked {% endif -%}> -->
            {%- if lineUpSellID02 != blank -%}  
             <label for="upsel-check" class="upsell-label" data-remove="true" onClick="toggleUpsellItem(this,{{upsellProd02.first_available_variant.id}},{{lineUpSellID02}})">Remove</label>
            {%- else -%}
             <label for="upsel-check" class="upsell-label" data-add="true" onClick="toggleUpsellItem(this,{{upsellProd02.first_available_variant.id}},{{lineUpSellID02}})">Add</label>         
            {% endif -%}
          </div>
<!--         <div class="upsell-label">
          <input type="checkbox" id="upsel-check" class="upsell-check" onClick="toggleUpsellItem(this,{{upsellProd02.first_available_variant.id}},{{lineUpSellID02}})" {%- if lineUpSellID02 != blank -%} checked {% endif -%}>
          {%- if lineUpSellID02 != blank -%}  
           <label for="upsel-check" class="upsell-label">{{settings.upsell_rmtext}}</label>
          {%- else -%}
           <label for="upsel-check" class="upsell-label">{{settings.upsell_text}}</label>         
          {% endif -%}
          
        </div> -->
        <div class="upsell-product">        
        {% render 'upsell-item', upsellProd: upsellProd02 %}
          
          
          
        </div>
      </div>
      {%- endif -%}
      
      
      {%- if settings.upsell_product_03 != blank -%}
      {%- assign upsellProd03 = all_products[settings.upsell_product_03] -%}
      
      {%- assign lineUpSellID03 = '' -%}
      {%- for line_item in cart.items -%}
      
      {%- if line_item.product_id == upsellProd03.id -%} 
      {%- assign lineUpSellID03 = line_item.id -%}
      {% break %}
      {% endif -%}
      {%- endfor -%}
      
      
      
      <div class="cart-upsell">
        <div class="cst-add-btn">
<!--            <input type="checkbox" id="upsel-check" class="upsell-check" onClick="toggleUpsellItem(this,{{upsellProd02.first_available_variant.id}},{{lineUpSellID02}})" {%- if lineUpSellID02 != blank -%} checked {% endif -%}> -->
            {%- if lineUpSellID03 != blank -%}  
             <label for="upsel-check" class="upsell-label" data-remove="true" onClick="toggleUpsellItem(this,{{upsellProd03.first_available_variant.id}},{{lineUpSellID03}})">Remove</label>
            {%- else -%}
             <label for="upsel-check" class="upsell-label" data-add="true" onClick="toggleUpsellItem(this,{{upsellProd03.first_available_variant.id}},{{lineUpSellID03}})">Add</label>         
            {% endif -%}
          </div>
<!--         <div class="upsell-label">
          <input type="checkbox" id="upsel-check" class="upsell-check" onClick="toggleUpsellItem(this,{{upsellProd03.first_available_variant.id}},{{lineUpSellID03}})" {%- if lineUpSellID03 != blank -%} checked {% endif -%}>
          {%- if lineUpSellID03 != blank -%}  
           <label for="upsel-check" class="upsell-label">{{settings.upsell_rmtext}}</label>
          {%- else -%}
           <label for="upsel-check" class="upsell-label">{{settings.upsell_text}}</label>         
          {% endif -%}
          
        </div> -->
        <div class="upsell-product">        
        {% render 'upsell-item', upsellProd: upsellProd03 %}
          
          
          
        </div>
      </div>
      {%- endif -%}
      
    </div>

    {%- unless cart.item_count == 0 -%}
      <div class="Drawer__Footer" data-drawer-animated-bottom>
        {%- capture shipping_and_taxes_notice -%}{{ 'cart.general.shipping_and_taxes_notice' | t }}{%- endcapture -%}

        {%- if settings.cart_enable_notes or shipping_and_taxes_notice != blank -%}
          {%- if settings.cart_enable_notes -%}
            {%- if cart.note == blank -%}
              <button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.add_note' | t }}</button>
            {%- else -%}
              <button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.edit_note' | t }}</button>
            {%- endif -%}
          {%- endif -%}

          {%- if shipping_and_taxes_notice != blank -%}
            <p class="Cart__Taxes Text--subdued">{{ shipping_and_taxes_notice }}</p>
          {%- endif -%}

          {%- if cart.cart_level_discount_applications != blank -%}
            {%- for discount_application in cart.cart_level_discount_applications -%}
              <p class="Cart__Discount">{%- render 'icon' with 'sale' -%} {{ 'cart.general.discount' | t }} ({{ discount_application.title }}): -<span>{{ discount_application.total_allocated_amount | money_without_trailing_zeros }}</span></p>
            {%- endfor -%}
          {%- endif -%}
        {%- endif -%}
		<!-- Route Code Edited 7/27/21 
        <div class="route-div"></div>
        <div style="font-size: 12px; margin-top: -10px; margin-bottom: 15px;">
        *Route is an added layer of premium protection that
          <br>ensures quick and hassle-free package replacement
          <br>for damaged, lost, or stolen orders.
        </div>  
        <!-- End Route Code -->
        <div class="shipping-pro"></div>
        <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full">
          <span>{{- 'cart.general.checkout' | t -}}</span>
          <span class="Button__SeparatorDot"></span>
          <span>{{ cart.total_price | money_without_trailing_zeros }}</span>
        </button>

<!--         {% if additional_checkout_buttons %}
        <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
        {% endif %}
 -->
        {%- if settings.cart_enable_notes -%}
          <div class="Cart__OffscreenNoteContainer" aria-hidden="true">
            {%- if cart.note == blank -%}
              <span class="Cart__NoteButton">{{ 'cart.general.add_note' | t }}</span>
            {%- else -%}
              <span class="Cart__NoteButton">{{ 'cart.general.edit_note' | t }}</span>
            {%- endif -%}

            <div class="Form__Item">
              <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="3" placeholder="{{ 'cart.general.note_placeholder' | t }}" data-scrollable>{{ cart.note }}</textarea>
            </div>

            <button type="button" class="Button Button--primary Button--full" data-action="toggle-cart-note">{{ 'cart.general.save_note' | t }}</button>
          </div>
        {%- endif -%}
      </div>
    {%- endunless -%}
  </form>
</div>