<!-------------------------------------------------------------------------------------------------------
# 													                                                    #
#		Filename:						lazyload-product.liquid		                                    #
#		Date:							Saturday, 13 March 2021		                                    #
#		Author: 						M.S. Karim a.k.a Hammer		                                    #
#		Description:										                                            #
#			|										                                                    #
#			->	This file will lazyload all the images, gifs and videos 		                        #
#				from product description.						                                        #
#													                                                    #
-------------------------------------------------------------------------------------------------------->

<!-- Start Lazyloading images and gifs -->

{% capture pDescription%}
  {{ product.description }}
{% endcapture %}

{% assign descriptionLines = pDescription | newline_to_br  | split: '<br />'%} 
{% assign tags_to_process = "<img,<iframe,<video" | split: ',' %}

{% for line in descriptionLines %}
	{% for tag in tags_to_process %}
        {% assign tagFound = false%}
		{% if line contains tag %}
            {% assign tagFound = true %}
			{% assign pre_iframe_content =  line | split: tag | first %}
			{% assign post_iframe_content =  line | split: tag | last %}

			{% assign pre_class =  post_iframe_content | split: 'class='| first %}
			{% assign post_class =  post_iframe_content | split: 'class='| last %}
			{% if post_class == post_iframe_content %}
                {% assign class_name = "" %}
                {% assign pre_class = "" %}
			{% else %}
				{% assign class_name = post_class | split:'"' %}
				{% assign class_name = class_name[1] %}
			{%endif%}

			{% capture final %}
                {{ pre_iframe_content}}{{tag}}{{pre_class}} class='lazyload {{class_name}}' {{post_class | replace_first: class_name,''}}
			{%endcapture%}
            {% assign final = final | replace: ' src',' data-src' |strip %}

		{% else %}

            {% assign final = line %}
        {%endif%}
        {% if tagFound == true %}
            {% break %}
        {%endif%}

    {%endfor%}
    {{ final }}
{%endfor%}
<!-- End Lazyloading Images and Gifs -->
