
                    <script type="text/javascript" src="https://dnuaqhs941n75.cloudfront.net/files/shopify/js/checkout_marketing_subscription_v2.js?ver=1634677338"></script>
                    <script>
                        smsbump_checkout_widget.init({
                            has_box: 1,
                            has_title: 1, 
                            checkbox_title: `Get discount on your next order`,
                            checkbox_label: `Sign up for our text club and we will text you a discount code.`,
                            consent_message : `By checking this box I consent to receive recurring automated marketing by text message through an automatic telephone dialing system. Consent is not a condition to purchase. Message and Data rate apply. Opt-Out by texting STOP.`,
                            privacy_policy_text: `View Privacy Policy`,
                            privacy_policy_link: `https://for-a-kings-loot.myshopify.com/5877760088/policies/12055216216`, 
                        });
                    </script>
                