
<div class="CartItemWrapper">
  <div class="CartItem">
    <div class="CartItem__ImageWrapper AspectRatio">
      <div class="AspectRatio" style="--aspect-ratio: {{ upsellProd.featured_image.aspect_ratio }}">
        <img class="CartItem__Image" src="{{ upsellProd.featured_image | img_url: '240x' }}" alt="{{ upsellProd.featured_image.alt | escape }}">
      </div>
    </div>
    <div class="CartItem__Info">
      <h2 class="CartItem__Title Heading">
        <a href="{{ upsellProd.url }}">{{ upsellProd.title }}</a>
      </h2>

      <div class="CartItem__Meta Heading Text--subdued">
        {%- unless upsellProd.has_only_default_variant -%}
        <p class="CartItem__Variant">{{ line_item.variant.title }}</p>
        {%- endunless -%}
        <div class="CartItem__PriceList">
          {%- if upsellProd.compare_at_price > upsellProd.price -%}
          <span class="CartItem__Price Price Price--highlight">{{ upsellProd.price | money_without_trailing_zeros }}</span>
          <span class="CartItem__OriginalPrice Price Price--compareAt">{{ upsellProd.compare_at_price | money_without_trailing_zeros }}</span>
          {%- else -%}
          <span class="CartItem__Price Price">{{ upsellProd.price | money_without_trailing_zeros }}</span>
          {%- endif -%}
        </div>
      </div>

    </div>
  </div>
</div>
   