<!doctype html> 
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <style>
#gorgias-chat-container iframe#chat-button { left: 22px }
#gorgias-chat-container iframe#chat-window { left: 0 }
#gorgias-chat-container iframe#chat-campaigns { left: 0 }
</style>
      <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N8TBCRH');</script>
<!-- End Google Tag Manager -->

    
    <meta name="google-site-verification" content="SqNxRbv5cSCmqz_sxffWflY3slx_B4PNY9qVfwcwFGw" />
    
    <meta name="facebook-domain-verification" content="k118oism49tg4aussm74kwgucawnar" /> 
    
    <script>var head = document.head;var script = document.createElement('script');script.type = 'text/javascript';script.src = "https://179353.tracking.hyros.com/v1/lst/universal-script?ph=e45846ba7963f6f3b5e0aa0986a9b25654ca80e6506c36a46f9fc4b99ab97a6d&tag=!tracking";head.appendChild(script);</script>
    
    
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x' }}" type="image/png">
    {%- endif -%}

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    {% render 'header-scripts.zipifypages', renderctx: 'thm' %}
        {%comment%}{{ content_for_header }}{%endcomment%}{%include "kings"%}    
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'slick.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
    {{ 'jquery.js' | asset_url | script_tag }}
    <script>
      {%- if request.page_type == 'policy' -%}
        document.addEventListener('DOMContentLoaded', function() {
          document.querySelector('.shopify-policy__title').classList.add('PageHeader', 'Heading', 'u-h1');
        });
      {%- endif -%}

      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        productImageSize: {{ settings.product_image_size | json }},
        searchMode: {{ settings.search_mode | json }},
        showPageTransition: {{ settings.show_page_transition | json }},
        showElementStaggering: {{ settings.show_element_staggering | json }},
        showImageZooming: {{ settings.show_image_zooming | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        rootUrlWithoutSlash: {% if routes.root_url == '/' %}''{% else %}{{ routes.root_url | json }}{% endif %},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        cartAddNote: {{ 'cart.general.add_note' | t | json }},
        cartEditNote: {{ 'cart.general.edit_note' | t | json }},
        productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.5,
        expFactor: 2,
        ricTimeout: 150,
        lazyClass: 'Image--lazyLoad',
        loadingClass: 'Image--lazyLoading',
        loadedClass: 'Image--lazyLoaded'
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

      // We do a quick detection of some features (we could use Modernizr but for so little...)
      (function() {
        document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
        document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
      }());
    </script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>
    <script src="{{ 'slick.min.js' | asset_url }}" async></script>

    {%- if template == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}


    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
    
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry,URL" defer></script>
    <script src="{{ 'libs.min.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.min.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    <script>
      (function () {
        window.onpageshow = function() {
          if (window.theme.showPageTransition) {
            var pageTransition = document.querySelector('.PageTransition');

            if (pageTransition) {
              pageTransition.style.visibility = 'visible';
              pageTransition.style.opacity = '0';
            }
          }

          // When the page is loaded from the cache, we have to reload the cart content
          document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
            bubbles: true
          }));
        };
      })();
    </script>

    {% render 'microdata-schema' %}
    
    <script src="https://www.dwin1.com/19038.js" type="text/javascript" defer="defer"></script>

    <style>
      .Drawer__Container .Cart__ItemList{
      	display: flex;
        flex-direction: column;
      }
      .last_order{
      	order: 100;
      }
      .divid {
          text-align: center;
          background: #80808054;
          color: #000;
          padding: 3px;
      }
      .cst-add-btn{
      	text-align: right;
/*         margin-top: -30px; */
        position: absolute;
        right: 32px;
        top: calc(100% / 3);
      }
      .cart-upsell{
      	position: relative;
      }
      .cst-add-btn label.upsell-label {
          background: gray;
          color: #fff;
          padding: 5px 10px;
          cursor: pointer;
          font-size: 12px;
          border-radius: 3px;
      }
      [data-remove="true"] {
          background: #F29191 !important;
      }
      .template-collection .PageHeader__ImageWrapper.Image--fadeIn.Image--contrast.Image--lazyLoaded {
          display: flex;
          align-items: center;
          justify-content: right;
          padding-right: 15%;
          padding-top: 25px;
      }
      div#shopify-section-collection-template header.PageHeader.PageHeader--withBackground .Container .SectionHeader.SectionHeader--center{
/*       	    background: #0000007d; */
            padding-left: 15px;
            padding-right: 15px;
      }
      .template-collection .PageHeader__ImageWrapper.Image--fadeIn.Image--contrast.Image--lazyLoaded iframe{
      	border: unset !important;
      }
      @media not all and (min-resolution:.001dpcm) {
        @supports (-webkit-appearance:none) {
          .template-collection .PageHeader__ImageWrapper.Image--fadeIn.Image--contrast.Image--lazyLoaded iframe{
          	position: absolute;
            right: 12%;
            height: 80% !important;
            top: 14%;
          }
          .template-collection header.PageHeader.PageHeader--withBackground .PageHeader__ImageWrapper{
            position: unset !important;
            display: flex !important; 
            height: 420px;
          }
        }
      }
      @media screen and (min-width: 641px){
        div#shopify-section-collection-template header.PageHeader.PageHeader--withBackground .Container .SectionHeader.SectionHeader--center{
      	    background: #0000007d;
        }
        div#shopify-section-collection-template header.PageHeader.PageHeader--withBackground .Container {
            max-width: 42%;
            margin-left: 15%;
        }
        .CollectionInner__Products .ProductListWrapper .ProductList{
        	max-width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
            grid-gap: 10px;
        }
        .ProductList--grid[data-desktop-count="4"] > .Grid__Cell, .ProductList--grid[data-desktop-count="3"] > .Grid__Cell{
        	width: 100%;
        }
      }
      @media screen and (max-width: 760px){
        .template-collection .PageHeader__ImageWrapper.Image--fadeIn.Image--contrast.Image--lazyLoaded{
        	display: contents;
        }
        .template-collection .PageHeader__ImageWrapper.Image--fadeIn.Image--contrast.Image--lazyLoaded iframe{
            height: 310px !important;
            width: 300px !important;
            border: unset !important;
            margin-top: 36px !important;
        }
        .template-collection .PageHeader__ImageWrapper.Image--fadeIn.Image--contrast.Image--lazyLoaded{
        	justify-content: center;
            padding-right: unset;
        }
        .template-collection .ProductItem__Info.ProductItem__Info--center {
          width: 50%;
        }
        .template-collection a.ProductItem__ImageWrapper.ProductItem__ImageWrapper--withAlternateImage {
            width: 50%;
        }
        .template-collection .ProductItem__Wrapper {
            display: flex;
            align-items: center;
        }
      	.cst-add-btn{
          right: 10px;
        }
        .cst-add-btn label.upsell-label {
            padding: 5px 8px;
            font-size: 11px;
        }
      }
    </style>
    
    <script async defer src="https://js.crrnt.app/ls/cookie/CA_Y2xpZW50SWQ9ODA"></script>
    
    <!-- Hotjar Tracking Code for https://kingsloot.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2640919,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    
      <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '860451818000950');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=860451818000950&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
    
    
  <script async src="https://assets.apphero.co/script_tags/949214_120076.js"></script></head>

  {%- capture classes -%}features--heading-{{ settings.heading_size }}{%- endcapture -%}

  {%- if settings.uppercase_heading -%}
    {%- assign classes = classes | append: ' features--heading-uppercase' -%}
  {%- endif -%}

  {%- if settings.product_show_price_on_hover -%}
    {%- assign classes = classes | append: ' features--show-price-on-hover' -%}
  {%- endif -%}

  {%- if settings.show_page_transition -%}
    {%- assign classes = classes | append: ' features--show-page-transition' -%}
  {%- endif -%}

  {%- if settings.show_button_transition -%}
    {%- assign classes = classes | append: ' features--show-button-transition' -%}
  {%- endif -%}

  {%- if settings.show_image_zooming -%}
    {%- assign classes = classes | append: ' features--show-image-zooming' -%}
  {%- endif -%}

  {%- if settings.show_element_staggering -%}
    {%- assign classes = classes | append: ' features--show-element-staggering' -%}
  
  {%- endif -%}
  
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8TBCRH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


  <body class="prestige--v4 {{ classes }} {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">
    <a class="PageSkipLink u-visually-hidden" href="#main">{{ 'header.navigation.skip_to_content' | t }}</a>
    <span class="LoadingBar"></span>
    <div class="PageOverlay"></div>

    {%- if settings.show_page_transition -%}
      <div class="PageTransition"></div>
    {%- endif -%}

    {% section 'popup' %}
    {% section 'sidebar-menu' %}

    {%- if template != 'cart' -%}
      {% render 'cart-drawer' %}
    {%- endif -%}

    <div class="PageContainer">
      {% section 'announcement' %}
      {% section 'header' %}
      	
      {% if settings.megamenu1 %}
      	{% section 'megamenu1' %}
      {% endif %}
      
      {% if settings.megamenu2 %}
      	{% section 'megamenu2' %}
      {% endif %}
      	
      {% if settings.megamenu3 %}
      	{% section 'megamenu3' %}
      {% endif %}
      
      {% if settings.megamenu4 %}
      	{% section 'megamenu4' %}
      {% endif %}
      
      {% if settings.megamenu5 %}
      	{% section 'megamenu5' %}
      {% endif %}
      

      <main id="main" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>






































{% render 'page-footer.zipifypages', renderctx: 'thm', ocuapp: ocuapp %}{% include 'adroll' %}
  {% include 'wisepops-generated' %}
  {{ 'ajax.js' | asset_url | script_tag }}
    {%if template !="index"%}
    {% render 'spurit_po2_theme_snippet' %}
    {%endif%}
<!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install">!function(_){_.GORGIAS_CHAT_APP_ID="8256",_.GORGIAS_CHAT_BASE_URL="us-east1-898b.production.gorgias.chat",_.GORGIAS_API_BASE_URL="config.gorgias.chat";var e=new XMLHttpRequest;e.open("GET","https://config.gorgias.chat/applications/8256",!0),e.onload=function(t){if(4===e.readyState)if(200===e.status){var n=JSON.parse(e.responseText);if(!n.application||!n.bundleVersion)throw new Error("Missing fields in the response body - https://config.gorgias.chat/applications/8256");if(_.GORGIAS_CHAT_APP=n.application,_.GORGIAS_CHAT_BUNDLE_VERSION=n.bundleVersion,n&&n.texts&&(_.GORGIAS_CHAT_TEXTS=n.texts),n&&n.sspTexts&&(_.GORGIAS_CHAT_SELF_SERVICE_PORTAL_TEXTS=n.sspTexts),!document.getElementById("gorgias-chat-container")){var o=document.createElement("div");o.id="gorgias-chat-container",document.body.appendChild(o);var r=document.createElement("script");r.setAttribute("defer",!0),r.src="https://client-builds.production.gorgias.chat/{bundleVersion}/static/js/main.js".replace("{bundleVersion}",n.bundleVersion),document.body.appendChild(r)}}else console.error("Failed request GET - https://config.gorgias.chat/applications/8256")},e.onerror=function(_){console.error(_)},e.send()}(window||{});</script><script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End--></body>
</html>
