{% include 'spurit_po2_section_snippet', product: null, products: collections[section.settings.best_sel_col].products %}
{%- assign collection = collections[section.settings.best_sel_col] -%}
<div class="best-seller-section">
  <div class="best-seller-container">
    <h1> {{section.settings.title}}</h1>
    <div class="best-seller-nav">
    <div id="best_seller_slider_{{section.id}}">
      <div class="slider-wrraper swiper-wrapper">

        {%- for product in collection.products -%}
          {%- for variant in product.variants -%}
           {%- if variant.option1 == 'Buckskin' or variant.option1 == 'Classy Brown' or variant.option1 == 'Midnight Black' -%}
            <div class="product-item swiper-slide">
              <a href="{{variant.url}}">
                <img src="{{variant.image | img_url : 'master'}}">
              </a>
              <h1>{{product.title}}</h1>
              <p>{{variant.option1}}</p>
            </div>   
          {%- endif -%}
          {%- endfor -%}
        {%- endfor -%}
        

      </div>

      
    </div>
      
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

<script>
  
  $( document ).ready(function() {
    console.log("here")
    initSwiperBestSeller{{section.id}}();    
  });

  $(window).on('resize', function(){
    initSwiperBestSeller{{section.id}}();  
  });

  var mySwiperBestSeller_{{section.id}} = undefined;
  function initSwiperBestSeller{{section.id}}(){
    
    
    mySwiperBestSeller_{{section.id}} = $('#best_seller_slider_{{section.id}} .slider-wrraper').slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      prevArrow: $('.swiper-button-prev'),
      nextArrow: $('.swiper-button-next'),
      dots: true ,
         responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 3
      }
    },
    {
      breakpoint: 640,
      settings: {
        slidesToShow: 1
      }
    }
  ]
    });
        
   var imgMiddle = $('#best_seller_slider_{{section.id}} .swiper-wrapper').height()/2;

   $('#best_seller_slider_{{section.id}} .swiper-button-prev').css('top',imgMiddle+'px');
   $('#best_seller_slider_{{section.id}} .swiper-button-next').css('top', imgMiddle+'px');
    
  }

</script>


<style>
  .best-seller-section{
    width:100%;
    display:inline-block;
    margin-bottom: 50px;
  }
  
  .best-seller-section .best-seller-container{
    margin: 0 !important;
    letter-spacing: 1px;
    font-size: 20px;
  }
  
  .best-seller-section .best-seller-container .best-seller-nav{
    position:relative;
    max-width: 1300px;
    width: 100%;
    display: block;
    margin: auto;
  }
  
  .best-seller-section .best-seller-container h1{
    margin-bottom: 35px;
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  
  #best_seller_slider_{{section.id}} {
    max-width: 1200px;
    margin: auto;
    width: calc(100% - 250px);
    display: flex;
    overflow:hidden;
    position:relative;
  }
  
  .best-seller-section .best-seller-container .slider-wrraper{
    padding-bottom: 40px;
  }
  
  .best-seller-section .best-seller-container .slider-wrraper .product-item{
    text-align: center;
    width: 25%;
  }
  
  .best-seller-section .best-seller-container .slider-wrraper .product-item a{
  }
  
  .best-seller-section .best-seller-container .slider-wrraper .product-item a img{
    width: 100%;
    outline:none !important;
  }
  
  .best-seller-section .best-seller-container .slider-wrraper .product-item a img:focus{
    outline:none !important;
  }
  
   .best-seller-section .best-seller-container .slider-wrraper .product-item a:focus{
    outline:none !important;
  }
  
  .best-seller-section .best-seller-container .slider-wrraper .product-item h1{
    margin: 0 !important;
    letter-spacing: 1px;
    font-size: 16px;
  }
  
  .best-seller-section .best-seller-container .slider-wrraper .product-item p{
    margin: 0;
    font-family: 'Helvetica Light';
    color: gray;
    font-weight: 500;
    font-size: 14px;
  }
  


  .best-seller-section .best-seller-container .swiper-button-prev{
    color:#e1e1e1!important;
  }

  .best-seller-section .best-seller-container .swiper-button-next{
    color:#e1e1e1!important;
  } 
  
  .best-seller-section .best-seller-container .swiper-button-prev:hover{
    color:#808080!important;
  }

  .best-seller-section .best-seller-container .swiper-button-next:hover{
    color:#808080!important;
  } 
  
  @media (max-width: 1021px){
    #best_seller_slider_161466801714f7eabd{
      width: calc(100% - 50px);
    }
  }
    

</style>

{% schema %}
  {
    "name": "Best Seller new",
    "settings": [
       {
        "type": "text",
        "id": "title",
        "label": "Title"
       },
       {
        "type": "collection",
        "id": "best_sel_col",
        "label": "Best Seller Collection"
       }
	],
    "presets": [
      {
        "category": "Collection",
        "name": "Best Seller - New"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
