{% include 'spurit_po2_section_snippet', product: all_products[section.settings.product], products: null %}
{%- assign product = all_products[section.settings.product] -%}
<div class="new-feature-prod">
  <div id="featProduSlider{{section.id}}" class="featProduSlider prod_container">
    <div class="image_block swiper-wrapper">
      <a >
        {% if product.images.size > 0 %}
        <img src="{{product.images[1] |  img_url: '800x800', crop: 'center' }}" class="img_01 swiper-slide">
        {% endif %}
        {% if product.images.size > 1 %}
        <img src="{{product.images[2] |  img_url: '800x800', crop: 'center' }}" class="img_02 swiper-slide image_hover">
        {% endif %}
      </a>      

      <a>
        {% if product.images.size > 3 %}
        <img src="{{product.images[3] |  img_url: '800x800', crop: 'center' }}" class="img_01 swiper-slide">
        {% endif %}
        {% if product.images.size > 4 %}
        <img src="{{product.images[4] |  img_url: '800x800', crop: 'center' }}" class="img_02 swiper-slide image_hover">
        {% endif %}
      </a>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="block_03">
      <h3>{{section.settings.product_title}}</h3>
      <p>{{section.settings.product_sub_title}}</p>
      <img src="{{section.settings.varinat_color_img | img_url : 'master'}}">
      <a href="{{product.url}}" class="prod-btn">{{section.settings.btn_label}}</a>
    </div>
  </div>
</div>
<script>
  
  
$( document ).ready(function() {
  console.log("here");
  initSwiperProduct{{section.id}}();    
});

$(window).on('resize', function(){
    initSwiperProduct{{section.id}}();  
});

  var mySwiperProduct_{{section.id}} = undefined;
function initSwiperProduct{{section.id}}(){
  
   var screenWidth = $(window).width();
  
  if(screenWidth < 1022 && mySwiperProduct_{{section.id}} === undefined) {   
        $("#featProduSlider{{section.id}} .image_hover").unwrap();   
        $('#featProduSlider{{section.id}} .swiper-wrapper').each(function(index, el) {          
            $(this).children().prependTo(jQuery(this));
        });

        mySwiperProduct_{{section.id}} = new Swiper('#featProduSlider{{section.id}}', {            
            spaceBetween: 10,
            slidesPerView: 'auto',
            loop: true,
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
            centeredSlides: true
        });
    
   
        var imgMiddle = $('#featProduSlider{{section.id}} .swiper-wrapper').height()/2;

        $('#featProduSlider{{section.id}} .swiper-button-prev').css('top',imgMiddle+'px');
        $('#featProduSlider{{section.id}} .swiper-button-next').css('top', imgMiddle+'px');

  
    } else if (screenWidth > 1022 && mySwiperProduct_{{section.id}} !== undefined) {

        $('#featProduSlider{{section.id}} .swiper-slide').removeClass('swiper-slide-duplicate');
        $('#featProduSlider{{section.id}} .swiper-wrapper').each(function(index, el) {
           $(this).children('img:nth-child(1n+5)').remove();
            $(this).children('img:lt(2)').wrapAll('<a></a>');
            $(this).children('img:nth-child(1n+2)').wrapAll('<a></a>');
        });
        
        mySwiperProduct_{{section.id}}.destroy(true, true);
        
        mySwiperProduct_{{section.id}} = undefined;
        $('#featProduSlider{{section.id}} .swiper-wrapper').removeAttr('style');
        $('#featProduSlider{{section.id}} .swiper-slide').removeAttr('style');      
    } 
}

</script>

<style>
  
  .new-feature-prod{
    display:inline-block;
    width:100%;
    padding: 0 20px;
    margin-bottom: 0px;
    padding-top: 50px;
  }
  
  .new-feature-prod .prod_container{
    display: flex;
    display: webkit-flex;
    margin-bottom: 0px;
    cursor: pointer;    
  }
  
  {% if section.settings.button_block_position == 'left' %}
  .new-feature-prod #featProduSlider{{section.id}}{
    flex-direction: row-reverse;
  }
  {% endif %}
  
  .new-feature-prod .prod_container .image_block{
    width: 66.6%;
    flex-basis: 66.6%;
    display: flex;
    height: auto;
  }
  
  .new-feature-prod .prod_container .image_block a{
    width: 50%;
    position: relative;
  }
  
  .new-feature-prod .prod_container .image_block a img{
    height: auto;
    width: 100% !important;
  }
  
  @media (min-width: 1022px){
    
   
    .new-feature-prod .prod_container .image_block a .image_hover{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }
    
    .new-feature-prod .prod_container .image_block a:hover .image_hover {
      display: inline !important;
    }
  }
  
  .new-feature-prod .prod_container .block_03{
    flex-basis: 33.3%;
    width: 33.3%;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    display: webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
  }
  
  .new-feature-prod .prod_container .block_03 h3{
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 1px;
  }
  
  .new-feature-prod .prod_container .block_03 p{
    color: #333333;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: normal;
    padding: 0 15px;
    margin-bottom: 1px;
  }
  
  .new-feature-prod .prod_container .block_03 img{
    height: 15px;
    max-width: 241px;
    margin: 10px auto 25px;
    width: 100%;
  }
  
  .new-feature-prod .prod_container .block_03 .prod-btn{
    width: 200px;
    margin: 0px auto 0;
    padding: 15px 0;
    border-radius: 0px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
  }
  
  
  @media (max-width: 1021px){
    .ImageHero--preserveRatio{
      margin-bottom: 55px;
    }
    
    .new-feature-prod .prod_container .swiper-button-next {
      background-image: url('{{ 'rigth_svg.png' | asset_img_url: 'master' }}')!important;      
    }
    
    .new-feature-prod .prod_container .swiper-button-prev {
      background-image: url('{{ 'rigth_svg.png' | asset_img_url: 'master' }}')!important;
      transform: rotate(
        180deg
      );
    }
    
    .new-feature-prod .prod_container .swiper-button-prev:after{
      display:none!important;
    }
    
    .new-feature-prod .prod_container .swiper-button-next:after{
      display:none!important;
    }
    
    .new-feature-prod{
      padding: 0 0px;
      padding-top: 10px;
    }
    
    .new-feature-prod .prod_container{
      flex-direction: column;
      -webkit-flex-direction: column;
      background: #f7f7f7;
      padding-top: 0px;
      position: relative;
    }
  
    .new-feature-prod .prod_container .image_block {
      width: 100%;
      flex-basis: inherit;
      webkit-flex-basis: inherit;
    }
    
    .new-feature-prod .prod_container .image_block  .swiper-slide{
      width: 50% !important;
      -webkit-filter: grayscale(0.1) invert(0.1);
    }
    
    .new-feature-prod .prod_container .block_03{
      flex-basis: inherit;
      width: 100%;
      position: relative;
      clear: both;
      order: 2;
     padding: 25px;
    }
    
    {% if section.settings.button_block_position == 'left' %}
    .new-feature-prod #featProduSlider{{section.id}}{
      flex-direction: column;
      -webkit-flex-direction: column;
    }
    {% endif %}
  
  }
  
  @media (max-width: 750px){
    width: 70% !important;
    -webkit-filter: grayscale(0.1) invert(0.1);
  }
</style>

{% schema %}
  {
    "name": "Feature Product - New",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
	  {
        "type": "text",
        "id": "product_title",
        "label": "Product Title"
      },
	  {
        "type": "text",
        "id": "product_sub_title",
        "label": "Product Sub Title"
      },
	  {
        "type": "text",
        "id": "btn_label",
        "label": "Button Label"
      },
      {
        "type": "image_picker",
        "id": "varinat_color_img",
        "label": "Variant Color Image"
      },
      {
        "type": "select",
        "id": "button_block_position",
        "label": "Button Block position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      }
	],
    "presets": [
      {
        "category": "Product",
        "name": "Featured product - New"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
