{% include 'spurit_po2_section_snippet', product: all_products[section.settings.product], products: null %}
{%- assign product = all_products[section.settings.product] -%}

{%- capture section_settings -%}
{
  "enableHistoryState": false,
  "usePlaceholder": {% if product == empty %}true{% else %}false{% endif %},
  "templateSuffix": {{ product.template_suffix | json }},
  "showInventoryQuantity": {{ section.settings.show_inventory_quantity | json }},
  "showSku": {{ section.settings.show_sku | json }},
  "inventoryQuantityThreshold": {{ section.settings.inventory_quantity_threshold }},
  "showPriceInButton": {{ section.settings.show_price_in_button | json }},
  "showPaymentButton": {{ section.settings.show_payment_button | json }},
  "useAjaxCart": {% if settings.cart_type == 'drawer' %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="featured-product" data-section-settings='{{ section_settings }}'>
  <div class="Container">
    {%- if section.settings.subheading != blank or section.settings.title != blank -%}
      <header class="SectionHeader SectionHeader--center {% unless section.settings.show_headings_on_mobile %}hidden-phone{% endunless %}">
        {%- if section.settings.subheading != blank -%}
          <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
        {%- endif -%}

        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
      </header>
    {%- endif -%}

    <div class="FeaturedProduct {% if section.settings.show_description == false or product.description == blank %}FeaturedProduct--center{% endif %}">
      {%- if product != empty -%}
        {%- comment -%}
        --------------------------------------------------------------------------------------------------------------------
        PRODUCT GALLERY
        --------------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if product.media.size > 0 -%}
          <a href="{{ product.url }}" class="FeaturedProduct__Gallery">
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,600,700,800,900,1000', image: product.featured_media -%}{%- endcapture -%}

            {%- assign media_aspect_ratio = product.featured_media.aspect_ratio | default: product.featured_media.preview_image.aspect_ratio -%}
            <div class="AspectRatio" style="max-width: {{ product.featured_media.preview_image.width }}px; --aspect-ratio: {{ media_aspect_ratio }}">
              {% assign image_url = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

              <img class="Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.featured_media.alt | escape }}">
              <span class="Image__Loader"></span>

              <noscript>
                <img src="{{ product.featured_media | img_url: '600x' }}" alt="{{ product.featured_media.alt | escape }}">
              </noscript>
            </div>
          </a>
        {%- endif -%}

        <div class="FeaturedProduct__Info">
          {%- render 'product-meta', product: product, show_description: section.settings.show_description -%}

          {%- if product.template_suffix != 'coming-soon' -%}
            {%- render 'product-form', product: product -%}
          {%- endif -%}

          {%- if section.settings.show_description and section.settings.description_below_add_to_cart -%}
            <div class="ProductMeta__Description Rte">
              {%- comment -%}
              We have figured out that some merchants were copy-pasting huge chunk of code into the product description,
              which can make the theme crashes if it contains some special attributes used by the theme. We therefore make sure to process this
              {%- endcomment -%}

              {{ product.description | replace: 'data-section-type', 'data-section-type-placeholder' }}
            </div>
          {%- endif -%}

          <div class="FeaturedProduct__ViewWrapper">
            <a href="{{ product.url }}" class="Link Link--underline">{{ 'home_page.featured_product.view_product' | t }}</a>
          </div>
        </div>
      {%- else -%}
        {%- comment -%}
        --------------------------------------------------------------------------------------------------------------------
        PLACEHOLDER WHEN NO PRODUCT IS SELECTED
        --------------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        <div class="FeaturedProduct__Gallery">
          {{- 'product-1' | placeholder_svg_tag -}}
        </div>

        <div class="FeaturedProduct__Info">
          <div class="ProductMeta">
            {%- if section.settings.show_vendor -%}
              <h2 class="ProductMeta__Vendor Heading u-h6">{{ 'home_page.onboarding.vendor_title' | t }}</h2>
            {%- endif -%}

            <h1 class="ProductMeta__Title Heading u-h2">{{ 'home_page.onboarding.product_title' | t }}</h1>

            <div class="ProductMeta__PriceList Heading">
              <span class="ProductMeta__Price Price Text--subdued u-h4">{{ 4500 | money_without_trailing_zeros }}</span>
            </div>

            {%- if section.settings.show_description and section.settings.show_description_after_add_to_cart == false -%}
              <div class="ProductMeta__Description Rte">
                {{ 'home_page.onboarding.product_description' | t }}
              </div>
            {%- endif -%}
          </div>

          <div class="ProductForm">
            {%- if section.settings.show_inventory_quantity -%}
              <p class="ProductForm__Inventory Text--subdued">
                {%- if section.settings.inventory_quantity_threshold == 0 -%}
                  {{- 'product.form.inventory_quantity_count' | t: count: 5 -}}
                {%- else -%}
                  {{- 'product.form.low_inventory_quantity_count' | t: count: section.settings.inventory_quantity_threshold -}}
                {%- endif -%}
              </p>
            {%- endif -%}

            <button type="button" class="ProductForm__AddToCart Button Button--primary Button--full">
              <span>{{ 'product.form.add_to_cart' | t }}</span>

              {%- if section.settings.show_price_in_button -%}
                <span class="Button__SeparatorDot"></span>
                <span>{{ 4500 | money_without_trailing_zeros }}</span>
              {%- endif -%}
            </button>
          </div>

          {%- if section.settings.show_description and section.settings.show_description_after_add_to_cart -%}
            <div class="ProductMeta__Description Rte">
              {{ 'home_page.onboarding.product_description' | t }}
            </div>
          {%- endif -%}

          <div class="FeaturedProduct__ViewWrapper">
            <a href="#" class="Link Link--underline">{{ 'home_page.featured_product.view_product' | t }}</a>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>

  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  OFF SCREEN ELEMENTS
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {{- product_popovers -}}
  {{- product_modals -}}
</section>

{% schema %}
{
  "name": "Featured product",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured product"
    },
    {
      "type": "checkbox",
      "id": "show_headings_on_mobile",
      "label": "Show headings on mobile",
      "default": true
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "description_below_add_to_cart",
      "label": "Description below add to cart",
      "default": false
    },
    {
      "type": "select",
      "id": "selector_mode",
      "label": "Selector type",
      "options": [
        {
          "value": "block",
          "label": "Block"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        }
      ],
      "default": "dropdown"
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch).",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_carousel",
      "label": "Show color carousel",
      "info": "A pop-up selector with variant images for choosing colors. Only enables when color swatch is disabled.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_inventory_quantity",
      "label": "Show inventory quantity",
      "info": "Make sure that your inventory is tracked. [Learn more](https://help.shopify.com/manual/products/inventory#set-up-inventory-tracking).",
      "default": false
    },
    {
      "type": "range",
      "id": "inventory_quantity_threshold",
      "label": "Inventory quantity threshold",
      "min": 0,
      "max": 50,
      "step": 1,
      "info": "Only show inventory quantity if below threshold. Choose 0 to always show.",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "show_price_in_button",
      "label": "Show price in add to cart button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pickup_availability",
      "label": "Show local pickup availability",
      "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)",
      "default": false
    }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Featured product"
    }
  ]
}
{% endschema %}