{% if section.settings.menu_name != blank and section.blocks.size > 0 %}

  <div data-megamenu="{{ section.settings.menu_name | handle }}">
    <div class="MegaMenu__Inner custom-megamenu">
      {% for block in section.blocks %}
        <div class="MegaMenu__Item MegaMenu__Item--fit">
          <a href="{{ block.settings.link }}" class="MegaMenu__Title Heading Text--subdued u-h7">
            <div class="image_wrapper"><img src="{{ block.settings.image | img_url: '300x' }}"></div>	
            {{ block.settings.title }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div data-mob-megamenu="{{ section.settings.menu_name | handle }}">
    <div class="Collapsible__Content">
      {% for block in section.blocks %}
        <div class="Collapsible">
          <a href="{{ block.settings.link }}" class="Collapsible__Button Heading Text--subdued Link Link--primary u-h7">
            <div class="image_wrapper">
              {% assign mob_img = block.settings.image_mob | default: block.settings.image %}
              <img src="{{ mob_img | img_url: '300x' }}">
            </div>
            {{ block.settings.title }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

{% endif %}

{% schema %}
  {
    "name": "Megamenu 5",
	"class": "megamenu",
    "settings": [
	  {
		"type": "text",
		"id": "menu_name",
		"label": "Menu name"
	  }		
	],
	"blocks": [
      {
        "type": "menu",
        "name": "Megamenu",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "image_picker",
            "id": "image_mob",
            "label": "Image (Mobile)"
          },
		  {
			"type": "text",
			"id": "title",
			"label": "Label"
   		  },
		  {
			"type": "url",
			"id": "link",
			"label": "Link"
		  }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
