{%include "bottom-info-container"%}    

{% schema %}
  {
    "name": "Product additional infor",
    "settings": [
      {
        "type": "header",
        "content": "Custom text"
      },
      {
        "type": "html",
        "id": "custom_text",
        "label": "Custom content"
      },
      {
        "type": "header",
        "content": "Embedded video section"
      },
      {
        "type": "html",
        "id": "vid_code",
        "label": "Embedded video code"
      },
	  {
        "type": "image_picker",
        "id": "main_img",
        "label": "Main image",
	    "info" : "only image or video"
      },
      {
        "type": "header",
        "content": "4 Images section"
      },
      {
        "type": "image_picker",
        "id": "feat_img_01",
        "label": "Feature image 01"
      },
	  {
        "type": "image_picker",
        "id": "feat_img_02",
        "label": "Feature image 02"
      },
	  {
        "type": "image_picker",
        "id": "feat_img_03",
        "label": "Feature image 03"
      },
	  {
        "type": "image_picker",
        "id": "feat_img_04",
        "label": "Feature image 04"
      }
	],
 	"blocks": [
      {
        "type": "content",
        "name": "Detail Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "block_img",
            "label": "Image",
            "info" : "image or video code in follwing filed"
          },
		  {
            "type": "html",
            "id": "vid_code",
            "label": "Embedded video code"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title"
          },
          {
            "type": "html",
            "id": "block_data",
            "label": "Detail"
          }
		]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
