@media screen and (max-width: 640px){
  .Header__LogoImage {
      max-width: 100%!important;
  }
}
@media screen and (max-width: 760px){
  .template-collection .ProductItem__Info.ProductItem__Info--center {
      width: 50%;
      text-align: left;
      margin-left: 12px;
  }
}
.tech_image .tmenu_image.tmenu_image--above:hover img {
    transform: scale(1.2);
    transition: opacity .3s ease,transform 8s cubic-bezier(.25, .46, .45, .94);
}
.tech_image .tmenu_image--above>img, .replace_gif .tmenu_image--above>img {
    display: block!important;
    margin: auto!important;
}
.new-feature-prod .swiper-button-next, .swiper-button-prev{
	z-index: 1 !important;
}
ul.tmenu_submenu.tmenu_submenu_type_mega.tmenu_submenu--desktop.tmenu_submenu_mega_position_fullwidth.tmenu_submenu_has_watermark .tmenu-watermark{
	visibility: hidden !important;
}
span.tmenu_item_text {
    font-size: 12px!important;
    letter-spacing: .2em!important;
    text-transform: uppercase!important;
  	color: #1c1b1b!important;
}
span.tmenu_indicator_icon {
    display: none!important;
}
ul.tmenu_nav .tmenu_item--root>.tmenu_submenu{
	top: 100%!important;
  	box-shadow: unset!important;
}
.tmenu_wrapper .tmenu_app .tmenu_nav .tmenu_item--root > .tmenu_item_link {
	padding-left: 0px!important;
    padding-right: 0px !important;
    padding-top: 2.2px!important;
}
li.tmenu_item.tmenu_item--root.tmenu_item_level_0.tmenu_item_submenu_type_mega.tmenu_item_submenu_mega_position_fullwidth {
    margin: 6px 8px 6px 8px!important;
    margin-right: 37px!important;
    margin-left: 0px!important;
    display: inline-block!important;
}
.tmenu_item_link:not(.tmenu_submenu .tmenu_item_link)::before {
    position: absolute;
    content: "";
    bottom: -26px;
    left: 0;
    width: 100%;
  	display:block;
    opacity: 0;
    transform: scale(0,1);
    transform-origin: left center;
    border-bottom: 2px solid var(--header-heading-color);
    transition: transform .3s,opacity .3s;
}
.tmenu_item_active .tmenu_item_link:not(.tmenu_submenu .tmenu_item_link)::before {
	opacity: 1;
    transform: scale(1,1);
}
.tmenu_product_body{
	text-align: center !important
}

.shopify-section.megamenu {
  display: none !important;
}

.MegaMenu__Inner.custom-megamenu {
  
}

.MegaMenu__Inner.custom-megamenu .MegaMenu__Item a {
  text-align: center;
}

.MegaMenu__Inner.custom-megamenu .MegaMenu__Item a img {
  width: 150px;
}


.SidebarMenu__Nav .has-megamenu .Collapsible__Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.SidebarMenu__Nav .has-megamenu .Collapsible__Content > .Collapsible {
  min-width: calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin-left: 0px;
}

.SidebarMenu__Nav .has-megamenu .Collapsible__Content > .Collapsible .image_wrapper {
  margin-bottom: 10px;
}

#section-header .Header__MainNav li a.Heading,
#section-header .MegaMenu .MegaMenu__Inner *,
.Drawer__Main .SidebarMenu__Nav .Collapsible *
{
  text-transform: unset !important;
}

@media (min-width: 750px) {
  #thumb-slider{
  	visibility: visible !important;
  }
  .Header__FlexItem.Header__FlexItem--fill {
/*     justify-content: center; */
  }
  .MegaMenu .MegaMenu__Inner.custom-megamenu {
    display: flex;
    justify-content: center;
  }
  .MegaMenu .MegaMenu__Inner.custom-megamenu > .MegaMenu__Item {
    margin-left: 15px;
    margin-right: 15px;
  }
}
#thumb-slider button.slide-arrow.slick-arrow {
    margin: 20px 0;
    width: 25%;
}
.Product__Info .ProductMeta__Description {
    margin-bottom: unset;
}

@media only screen and (max-width:768px)
{
  .btm-container .btm-width .content-section .content-block .block-vid {
      margin-bottom: 20px;
  }
  .btm-container .btm-width .content-section .content-block .block-right img {
      max-width: 100%;
      height: auto;
      width: 100%;
      padding: 0px 15px;
   }
}
@media screen and (max-width: 552px){
  .btm-container .btm-width .content-section .content-block .block-right iframe {
    padding: 10px
  }
}

#sidebar-cart .CartItemWrapper.last_order .CartItem__QuantitySelector {
  opacity: 0;
  z-index: -999;
}


@media (min-width: 641px) {
  .hide--desktop {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .hide--mobile {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .Product__SlideshowMobileNav {
    flex-direction: column;
  }
  .Product__Gallery .Product__ActionList {
    display: none !important;
  }
  button.video-popup-open {
    background: #FFF;
    border: 1px solid #cdcdcd;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    height: 25px;
    margin-left: auto;
    margin-right: 25px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  button.video-popup-open svg {
    margin-right: 3px;
    width: 8px;
  }
  .popup-wrapper.video-popup-wrapper {
    background: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    transform: translateX(100%);
    transition: all .3s ease;
    z-index: 9999999999;
  }
  .popup-wrapper.video-popup-wrapper.open {
    transform: unset;
  }
  .popup-wrapper.video-popup-wrapper .popup_close {
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .popup-wrapper.video-popup-wrapper .popup_close svg {
    fill: #FFF;
    width: 100%;
    height: 100%;
  }
  .popup-wrapper.video-popup-wrapper .iframe_wrapper {
    width: 100%;
    padding-bottom: 56.25%;
    height: 0px;
    position: relative;
  }
  .popup-wrapper.video-popup-wrapper .iframe_wrapper * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}