{% include 'product-content.zipifypages', contentprt: 'header' %}<style>
  #thumb-slider{
    visibility:hidden;
  }

  #main-prod-slider{
    visibility:hidden;
  }

  #main-prod-mobile-slider{
    visibility:hidden;
  }
</style>
{% section 'product-template' %} 
{% section 'product-recommendations' %}
{% section 'recently-viewed-products' %}

<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script>


{%- if product.handle == 'traditonal' -%}
{% section 'product-bottom-Infor' %}
{%- endif -%}
{% comment %}
{%- if product.metafields.my_fields.product_bottm_inform -%}
{% section 'product-bottom-Infor' %}
{%- endif -%}
{% endcomment %}

{%- if product.handle == 'mini-2-0' -%}
{% section 'product-bottom-Infor-mini-2-0' %}
{%- endif -%}
{%- if product.handle == 'bi-fold' -%}
{% section 'product-bottom-Infor-bi-fold' %}
{%- endif -%}

{%- if product.handle == 'traditional-gift-bundle' -%}
{% section 'product-bottom-Infor-gift-bundle' %}
{%- endif -%}

{%- if product.handle == 'traditional-wallet-free-kings-sleeve-wallet-money-clip' -%}
{% section 'product-bottom-Infor-money-clip' %}
{%- endif -%}

{%- if product.handle == 'traditional-wallet-8-10-cards-rfid' -%}
{% section 'product-bottom-Infor-cards-rfid' %}
{%- endif -%}

{%- if product.handle == 'journey' -%}
{% section 'product-bottom-Infor-journey' %}
{%- endif -%}

{%- if product.handle == 'traveler-wallet' -%}
{% section 'product-bottom-Infor-traveler-wallet' %}
{%- endif -%}

{%- if product.handle == 'journey-6-8-cards-womens' -%}
{% section 'product-bottom-Infor-her-journey' %}
{%- endif -%}

{%- if product.handle == 'copy-of-traditional-wallet-traveler-kings-care-free-shipping' -%}
{% section 'product-bottom-Infor-kings-care' %}
{%- endif -%}

{%- if product.handle == 'kings-back' -%}
{% section 'product-bottom-Infor-kings-back' %}
{%- endif -%}

{%- if product.handle == 'kings-sleeve-clip-combo' -%}
{% section 'kings-sleeve-clip-combo' %}
{%- endif -%}

{%- if product.handle == 'kings-loot-cash-clip' -%}
{% section 'kings-loot-cash-clip' %}
{%- endif -%}

{%- if product.handle == 'rfid-blocking-card-sleeve' -%}
{% section 'rfid-blocking-card-sleeve' %}
{%- endif -%}


{%- if product.handle != 'traditonal' and product.handle != 'bi-fold' and product.handle != 'traditional-gift-bundle' and product.handle != 'traditional-wallet-free-kings-sleeve-wallet-money-clip'  -%}
{%- if product.handle != 'traditional-wallet-8-10-cards-rfid' and product.handle != 'journey' and product.handle != 'traveler-wallet' and product.handle != 'journey-6-8-cards-womens'  -%}
{%- if product.handle != 'copy-of-traditional-wallet-traveler-kings-care-free-shipping' and product.handle != 'kings-back' and product.handle != 'kings-sleeve-clip-combo' and product.handle != 'kings-loot-cash-clip' and product.handle != 'rfid-blocking-card-sleeve' -%}
{% include 'product-content.zipifypages', contentprt: 'footer' %}
{%- endif -%}
{%- endif -%}
{%- endif -%}
<!--Start Stamped.io Auto Installation-->
<div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}">{{ product.metafields.stamped.reviews }}</div>
<!--End Stamped.io Auto Installation-->



